.tag-block-wrapper {
  background-color: rgba(0, 148, 255, 0.26);
  padding: 0.2rem 1rem;
  border-radius: 1rem;
  font-size: 1.8rem;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  .dart-circle {
    margin: 0rem 0.5rem;
    display: flex;
    align-items: center;
    font-size: 0.8rem;
  }
}
