#register-page {
    padding: 10rem 0rem;
    width: 100%;
    .contentBlock {
        width: 100%;
        .container {
            width: 100% !important;
            .row {
                width: 100%;
                .col-md-8 {
                    width: 100%;
                }
            }
        }
    }
    width: 100%;
    // background-color: red;
    .card {
        padding-top: 5rem;
        // background-color: blue;
        align-items: center;

        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    form {
        border-top-right-radius: 1rem;
        border-top-left-radius: 1rem;
        position: relative;
        #circle {
            top: -3rem;
            margin-left: 50%;
            transform: translateX(-50%);
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #16161d;
            position: absolute;
            border-radius: 50%;
            height: 9rem;
            width: 9rem;
            img {
                height: 5rem;
                width: 5rem;
            }
        }
        h1 {
            letter-spacing: 0.25rem;
            font-size: 3rem;
            text-align: center;
            color: white !important;
        }
        min-width: 50rem;
        background: #16161d !important;
        input {
            &:focus {
                border-color: #66a8e4 !important;
            }
            margin: 0.75rem 0rem;
            border-radius: 0.75rem;
            width: 100%;
            font-size: 1.8rem;
            height: 6rem;
            outline: none;
            padding-left: 2rem !important;
        }
        padding: 4rem 1rem;
        button {
            border-radius: 0.75rem;

            color: white;
            background: #66a8e4;
            &:hover {
                background: #4296e4af;
            }
            padding: 1.5rem 0rem;
            margin: 1rem 0rem;
            width: 100%;
            font-size: 2.2rem;
        }
    }
}
