// #mainFooter {
//   padding-top: 4rem;
//   padding-bottom: 4rem;
//   .greyBox {
//     @include media('<=1000px') {
//       width: 90%;
//     }
//     margin: 4rem 1rem 0rem 1rem;

//     border-radius: 0.8rem;
//     padding: 1rem;
//     font-size: 1.4rem;
//     margin-left: 50%;
//     transform: translateX(-50%);
//     max-width: 90rem;
//     color: white;
//     background-color: rgba(255, 255, 255, 0.2);
//   }
//   h1 {
//     margin-left: 25%;

//     font-size: 2.7rem;
//   }

//   color: white;
//   background-color: #09142e;
//   footer {
//     padding-top: 0.6rem;

//     @include media('>=979px') {
//       @include flex(center, '');
//     }
//     @include flex('', center);

//     flex-wrap: wrap;
//     section {
//       @include media('<=979px') {
//         margin: 3rem 12rem 0rem 12rem;
//       }
//       @include media('<=tablet') {
//         margin: 3rem 4rem 0rem 4rem;
//       }
//       position: relative;
//       margin: 3rem 8rem 0rem 8rem;

//       .logo {
//         img {
//           width: 3.7rem;
//           height: 4.1rem;
//         }
//         position: absolute;
//         top: -1rem;
//         left: -5rem;
//         font-size: 3.5rem;
//       }
//       a {
//         color: white;
//       }
//       ul li {
//         margin-top: 1rem;
//         &:hover {
//           text-decoration: underline;
//         }
//         list-style: none;
//         font-size: 1.4rem;
//       }
//       h3 {
//         font-size: 1.7rem;
//         margin-bottom: 1.5rem;
//       }
//     }
//   }
// }

// .footer__wrapper {
//   background-color: black;
//   footer {
//     flex-wrap: wrap;
//     width: 100%;
//     padding: 5rem 0.5rem;
//     display: flex !important;
//     justify-content: space-between;
//     //4th col
//     div:nth-child(4) {
//       ul {
//         display: flex;
//         // logo
//         li {
//           margin: 1.6rem 0.5rem;
//           color: rgb(122, 128, 135);
//           font-size: 2rem;
//         }
//       }
//     }
//     //* all col
//     div {
//       ul {
//         list-style: none;
//       }

//       //? all col all item
//       li {
//         margin-top: 1rem;
//         a {
//           font-size: 1.6rem;

//           color: #7a8087;
//         }
//       }
//       //? all col 1st item
//       li:nth-child(1) {
//         a {
//           color: white;
//           font-weight: bold;
//         }

//         margin-top: 2.2rem;
//         margin-bottom: 1.2rem;
//       }

//       //? all col > 2nd row
//       ul:nth-child(2) {
//       }
//     }
//   }
// }

#footer-secondary {
    display: flex;
    justify-content: center;
    text-align: center !important ;
    img {
        // max-width: 100%;
        height: 8.35rem;
    }
    section {
        padding: 30px 0;
        /* min-height: 100vh;*/
    }
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    .contact-area {
        width: 100%;
        display: flex !important;
        justify-content: center !important;
        border-bottom: 1px solid #040505;
    }

    .contact-content p {
        font-size: 15px;
        margin: 30px 0 60px;
        position: relative;
    }

    .contact-content p::after {
        background: #6b6b6b;
        bottom: -30px;
        content: "";
        height: 1px;
        left: 50%;
        position: absolute;
        transform: translate(-50%);
        width: 80%;
    }

    .contact-content h6 {
        color: #8b9199;
        font-size: 15px;
        font-weight: 400;
        margin-bottom: 10px;
    }

    .contact-content span {
        color: #353c47;
        margin: 0 10px;
    }

    .contact-social {
        margin-top: 30px;
    }

    .contact-social > ul {
        display: inline-flex;
    }

    .contact-social ul li a {
        border: 1px solid #8b9199;
        color: #8b9199;
        display: inline-block;
        height: 40px;
        margin: 0 10px;
        padding-top: 7px;
        transition: all 0.4s ease 0s;
        width: 40px;
    }

    .contact-social ul li a:hover {
        border: 1px solid #fab702;
        color: #fab702;
    }

    .contact-content img {
        // max-width: 10px;
    }

    section,
    footer {
        // !footer bg
        background: #131212;
        color: #868c96;
    }

    footer p {
        display: flex;
        justify-content: center !important;
        // padding: 40px 0;
        text-align: center;
    }

    footer img {
        // width: 10px;
    }
}
