// .info-card {
//   width: 25rem;
//   @include media('<=900px') {
//     width: 30rem;
//   }

//   //   border: 1px solid white;
//   padding: 2rem 2rem;
//   img {
//     width: 100%;
//   }
//   h2 {
//     margin-top: 1.5rem;
//   }
//   p {
//     margin-top: 1.5rem;
//     color: #7a8087;
//     font-size: 1.5rem;
//   }
//   a {
//     font-size: 1.5rem;
//   }
// }

.info-card:active {
    transform: scale(0.5);
}
.info-card:hover {
    transition: all 0.2s ease;
    transform: scale(1.03);
}

.info-card:hover img {
    transform: scale(1.2);
}
.info-card {
    margin: 1rem;
    width: 30rem;
    min-width: 25rem;
    text-decoration: none;
    border: 1px solid rgb(50, 49, 49);
    border-radius: 2rem;
    padding: 1rem 1rem;
    transition: all 0.6s ease;

    overflow: hidden;
}

.card-img {
    border: 1px solid black;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    width: 100%;
}

.card-title {
    color: white;
    margin-top: 1.8rem;
    line-height: 2.2rem;
    font-size: 1.8rem;
}

.card-paragraph {
    line-height: 2.2rem;
    margin-top: 1.5rem;
    color: #7a8087;
    font-size: 1.5rem;
}

.explore-link {
    font-size: 1.5rem;
}
