/* main styles */
.checkbox-custom {
  opacity: 0;
  position: absolute;
}

.checkbox-custom,
.checkbox-custom-label {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}

.checkbox-custom-label {
  position: relative;
}

.checkbox-custom-label .counter {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  font-weight: bold;
  text-align: center;
  overflow: hidden;
}

.count,
.count-up {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.count {
  top: 3px;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  color: #4c5765;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

.count:before {
  content: '';
  width: 0;
  height: 0;
  position: absolute;
  top: 5px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid rgba(76, 87, 102, 0.5);
}

.upvoted .count {
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

.count-up {
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
  color: #fff;
}

.upvoted .count-up {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

.checkbox-custom + .checkbox-custom-label:before {
  content: '';
  background: #eceff5;
  font-size: 14px;
  font-weight: 500;
  display: inline-block;
  vertical-align: middle;
  width: 30px;
  height: 40px;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2),
    0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.checkbox-custom:checked + .checkbox-custom-label:before {
  background: #0063ab;
}

.checkbox-custom:checked + .checkbox-custom-label span {
  color: #ffffff;
}
