#newsLetterSection {
    width: 100%;
    .news {
        padding: 4.8px 0 9.6px 0;
        text-align: center;
    }
    .news-heading {
        font-size: 4.4rem;
        @include media("<=828px") {
            font-size: 3.6rem;
        }
        @include media("<=528px") {
            font-size: 2.6rem;
        }

        line-height: 1.4;

        color: #333;
    }
    .news p {
        color: #c1c1c1;
        font-size: 18px;
        margin-bottom: 16px;
        margin-top: 12px;
        line-height: 1.8;
    }

    input[type="email"] {
        font-size: 1.8rem;
        color: white;
        display: inline-block;
        width: 60%;
        padding: 18px 36px;
        margin: 8px 0;
        border: 1px solid #ccc;
        box-sizing: border-box;
        height: 70px;
        margin-top: 18px;
        border-radius: 20px;
        border: 1px solid white;

        background: black;
        box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.06);
        @include media("<=480px") {
            width: 100%;
            height: 48px;
            margin: 27px 0;
            font-size: 2.8rem;
        }
    }
    input,
    input::-webkit-input-placeholder {
        font-size: 16px;
        line-height: 3;
    }

    .bt {
        @include media(">700px") {
            margin-left: -160px;
        }
        font-size: 16px;
        display: inline-block;
        font-weight: 600;
        padding: 16px 32px;
        border-radius: 20px;

        /* Only necessary for .btn */
        border: none;
        cursor: pointer;
        background-color: #1da1f2;
        &:hover {
            background-color: #217ab1;
        }
        color: #fff;
    }
}
